[submodule "libs/YamlDotNet"]
	path = libs/YamlDotNet
	url = https://github.com/aaubry/YamlDotNet
[submodule "libs/zipstorer"]
	path = libs/zipstorer
	url = https://github.com/jaime-olivares/zipstorer
[submodule "libs/MonoMod"]
	path = libs/MonoMod
	url = https://github.com/0x0ade/MonoMod
[submodule "libs/Harmony"]
	path = libs/Harmony
	url = https://github.com/pardeike/Harmony
