[submodule "libs/YamlDotNet"]
	path = libs/YamlDotNet
	url = https://github.com/aaubry/YamlDotNet
[submodule "libs/zipstorer"]
	path = libs/zipstorer
	url = https://github.com/jaime-olivares/zipstorer
[submodule "libs/MonoMod"]
	path = libs/MonoMod
	url = https://github.com/0x0ade/MonoMod
[submodule "Assembly-CSharp.GUI.mm/src/External/SGUI"]
	path = Assembly-CSharp.GUI.mm/src/External/SGUI
	url = https://github.com/ModTheGungeon/SGUI
[submodule "ETGModResources/lua/libs/json"]
	path = Resources/lua/libs/json
	url = https://github.com/rxi/json.lua
[submodule "libs/Eluant"]
	path = libs/Eluant
	url = https://github.com/modthegungeon/Eluant
[submodule "libs/Logger"]
	path = libs/Logger
	url = https://github.com/modthegungeon/Logger
